@import url('https://www.fontget.com/font/jujutsu-kaisen/');
p {
    position:absolute;
    top: 60%; left: 43%;
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    font-family: 'Jujutsu Kaisen', sans-serif
}
h1 {
    position:absolute;
    top: 43%; left: 43.5%;
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    font-family: 'Jujutsu Kaisen', sans-serif
}
h2 {
    position:absolute;
    top: 51%; left: 42.75%;
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    font-family: 'Jujutsu Kaisen', sans-serif
}
h3 {
    position:absolute;
    top: 97.5%; left: 46%;
    color: white;
    text-align: center;
    font-size: 13px;
    margin-top: 0;
    font-family: 'Jujutsu Kaisen', sans-serif
}
body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

@font-face {
    font-family: jujutsu kaisen;
    src: url(Jujutsu\ Kaisen.ttf);
  }
  
  div {
    font-family: myFirstFont;
  }